<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="../img/themes/icon.png"/>
<title>降临-帮助手册</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />
<link href="../css/regit/style.css" rel="stylesheet" type="text/css" media="all"/>
<style type="text/css">
body {
    padding: 0;
    margin: 0;
    background: url(../img/themes/bg1.jpg) no-repeat 0px 0px;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
</style>
</head>
<body>

<div class="signupform">
<h1>欢迎光临降临灯饰店</h1>
	<div class="container">
		
		<div> <!-- class="agile_info" -->
			<div class="w3l_form">
				<div class="left_grid_info">
					<h4>降临灯饰店帮助手册：</h4>
					<p>1.在购买灯饰商品前，需登录账号；                      </p>
					<p>2.没有账号的用户，需要先进行注册；                                        </p>
					<p>3.用户在注册后，需要完善个人信息，才能进入灯饰首页；               </p>
					<p>4.已注册用户可自行修改密码；</p>   
					<p>5.用户下单后，可在我的订单页面取消订单，受审核之后，可全额退款；</p> 
					<p>6.支付方式支持货到付款和在线支付；</p> 
					<p>7.用户在收到商品超过1天后，不能取消申请退款；</p>
					<p>8.将喜欢的灯饰添加到购物车，提交订单后才能进行购买；在付款完成之后，无法修改订单信息  </p> 
					<div align="center">
					<input type="button" value="登录" class="btn-login" onclick="login()">&nbsp;&nbsp;&nbsp;
					<input type="button" value="返回" class="btn-login" onclick="back()">
					</div>
			</div>
			<div class="clear"></div>
			</div>	
		</div>
	 </div>
	   <script>
    function login() {
        window.location.href="login.html";
    }
    function back() {
        window.location.href="javascript:history.back(-1)";
    }
    </script>
	</body>
</html>