<!DOCTYPE html>
<html lang="ch">
<head>
<title>Test</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/bost/bootstrap.min.css" />
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../css/fullcalendar.css" />
<link rel="stylesheet" href="../css/matrix-style.css" />
<link rel="stylesheet" href="../css/matrix-media.css" />
<link href="../font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="../css/jquery.gritter.css" />
<link rel="stylesheet" href="../css/bootstrap-datetimepicker.min.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="header">
        <h1>
            <a href="#"></a>
        </h1>
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class=""><a title="" href="adminLogin.html"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
        </ul>
    </div>

    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i>
            控制台</a>
        <ul>
            <li><a href="adminIndex.html"><i class="icon icon-home"></i>
                    <span>首页</span></a></li>
            <li><a href="orderManage.html"><i class="icon icon-th-list"></i>
                    <span>订单管理</span></a></li>
            <li class="submenu active"><a href="#"><i class="icon icon-th-list"></i>
                    <span>商品管理</span> </a>
                <ul>
                    <li><a href="AddLight.html">商品添加</a></li>
                    <li class="active"><a href="lightManage.html">信息修改</a></li>
                </ul></li>
            <li><a href="countInfo.html"><i class="icon icon-th-list"></i>
                    <span>统计信息</span></a></li>


        </ul>
    </div>
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb">
                <a href="adminIndex.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> 
                <a href="lightManage.html" class="current">商品管理</a>
            </div>
            <h1></h1>
        </div>
        <div class="container" style=" width:1600px;">
            <!-- 标题 -->
            <div class="row">
                <div class="col-md-12">
                    <h1>商品信息表</h1>
                </div>
            </div>
            <!-- 搜索设置 -->
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-1" style="padding-top: 62px;">
                </div>
                <div class="col-md-2" style="padding-top: 62px;">
                    <div class="input-group">
                      <input type="text" id="Keyword" class="form-control" placeholder="" value="">
                      <span class="input-group-btn">
                        <button id="Seacher" class="btn btn-default" type="button">搜索</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
            </div>
            <!-- 显示表格数据 -->
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-bordered table-condensed" style="table-layout: fixed; width: 100%">
                        <thead>
                            <tr>
                                <th style="width:50px;"><label>#</label></th>
                                <th style="width:180px;">灯饰标题</th>
                                <th style="width:100px;">图片</th>
                                <th style="width:170px;">类别</th>
                                <th style="width:70px;">材质</th>
                                <th style="width:70px;">颜色</th>
                                <th style="width:100px;">产地</th>
                                <th style="width:80px;">单价/(元)</th>
                                <th style="width:80px;"><a href="#" id="orderByNum">库存量/(件)</a></th>
                                <th style="width:260px;">详细描述</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="lightlist" style="font-size: 14px;">
                            <tr v-for="list in lists">
                                <td>{{ list.lightID }}</td>
                                <td>{{ list.lightName }}</td>
                                <td>
                                    <a href="#" class="thumbnail">
									   <img v-bind:src="'../'+list.images" alt="...">
									</a>
                                </td>
                                <td><br/> 品牌:{{ list.brand.brandName }}<br/> 类型:{{ list.category.categoryName }}<br/> 风格:{{ list.style.styleName }}</td>
                                <td>{{ list.stuff }}</td>
                                <td>{{ list.color }}</td>
                                <td>{{ list.locate }}</td>
                                <td>{{ list.price }}</td>
                                <td>
                                    <span v-if="list.quantity<10" style="color: red">{{ list.quantity }}</span>
                                    <span v-else style="color: blue" >{{ list.quantity }}</span>
                                </td>
                                <td>{{ list.description }}</td>
                                <td>
                                    <button  type="button" class="btn btn-info btn-md" onclick="changeInfo(this)">
                                                                        修改
                                    </button>
                                    <button type="button" class="btn btn-danger btn-md" onclick="deleteLight(this)">
                                                                        下架
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 显示分页信息 -->
            <div id="PageInfo" class="row">
                 <!-- 记录信息 -->
                <div class="col-md-7">
                    <p style="font-size: 18px;">当前第{{ PageNum }}页,总{{ pages }}页,总{{ total }}条记录</p>
                </div>
                <!-- 页 -->
                <div class="col-md-5">
                    <nav aria-label="Page navigation">
                      <ul class="pagination">
                        <li><a id="firstPage" href="#">首页</a></li>
                        <li>
                          <a id="prePage" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="active" ><a href="#">{{ PageNum }}</a></li>
                        <li>
                          <a id="nextPage" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        <li><a id="lastPage" href="#">末页</a></li>
                      </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
       

<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/matrix.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>   
<script src="../js/boot/bootstrap.min.js"></script>
<script type="https://vuejs.org/js/vue.min.js"></script>
<script type="text/javascript" src="../js/bootbox.min.js"></script>

<script type="text/javascript">
var pn=1;
var prePage=false;
var nextPage=false;
var categories=[];
var brands=[];
var styles=[];
var key="ALL_KEY";
var orderBy="NO";

var PageInfo = new Vue({
    el:'#PageInfo',
    data:{
        PageNum :0,
        pages : 0,
        total : 0
    }
});
 
var vm = new Vue({
    el: '#lightlist',
    data: {
        lists: [],
    },
    mounted()   {
        $.ajax({
            type: "post",
            url: "../LightManageList/1/"+key+"/"+orderBy,
            dataType: "json",
            data:JSON.stringify({"categories":categories, "brands":brands, 
                "styles":styles}), 
            contentType:"application/json;charset=utf-8",
            success: function(data){
                vm.lists = data.list
                PageInfo.PageNum = data.pageNum
                PageInfo.pages  = data.pages
                PageInfo.total  = data.total
                pn=data.pageNum
                prePage=true
                nextPage=true
                if(data.isFirstPage)prePage=false
                if(data.isLastPage)nextPage=false
                console.log("读取LightList成功!");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                console.log("读取json error!");
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }
 });
//首页
$("#firstPage").click(function(){
    if(pn != 1)
    	Refresh(1);
});
//上一页
$("#prePage").click(function(){
    if(prePage){
        pn = pn - 1;
        Refresh(pn);
    }
});
//下一页
$("#nextPage").click(function(){
    if(nextPage){
        pn=pn+1;
        Refresh(pn);
    }
});
//末页
$("#lastPage").click(function(){
    Refresh(9999);
});

//搜索
$("#Seacher").click(function(){
	key=$("#Keyword").val();
	if(key=="")
		key="ALL_KEY";
    Refresh(1);
});

//排序
$("#orderByNum").click(function(){
	if(orderBy == "ASC")
		orderBy = "DESC";
	else
		orderBy = "ASC";
	
    Refresh(1);
});

function Refresh(page){
        $.ajax({
            type: "post",
            url: "../LightManageList/"+page+"/"+key+"/"+orderBy,
            dataType: "json",
            data:JSON.stringify({"categories":categories, "brands":brands, 
                "styles":styles}), 
            contentType:"application/json;charset=utf-8",
            success: function(data){
                vm.lists = data.list
                PageInfo.PageNum = data.pageNum
                PageInfo.pages  = data.pages
                PageInfo.total  = data.total
                pn=data.pageNum
                prePage=true
                nextPage=true
                if(data.isFirstPage)prePage=false
                if(data.isLastPage)nextPage=false
            },
            error: function(data){
                console.log("读取jsonName error!");
            }
        });
}

//弹出模态框，显示信息
function changeInfo(obj){
    var lightID = $(obj).parent().parent().find("td:first").text();
    var name = $(obj).parent().parent().find("td").eq(1).text();
    var imgPath = $(obj).parent().parent().find("td").eq(2).find("img").attr("src");
    var price = $(obj).parent().parent().find("td").eq(7).text();
    var quantity = $(obj).parent().parent().find("td").eq(8).text();
    var description = $(obj).parent().parent().find("td").eq(9).text();
    $("#changeModal").modal('show');

    $("#lightID").val(lightID);
    $("#lightName").val(name);
    $("#seeImg").attr("src",imgPath);
    
    $("#price").val(price);
    $("#quantity").val(quantity);
    $("#description").val(description);
}


</script>

<!-- 按钮触发模态框:修改信息 -->
<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改灯饰信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="lightfrom">
                  <div class="form-group">
                    <label for="lightID" class="col-sm-2 control-label">灯饰ID</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="lightID" name="lightID" placeholder="LightID" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lightName" class="col-sm-2 control-label">商品标题</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="lightName" name="lightName" placeholder="LightName" >
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
	                    <a href="#" class="thumbnail">
	                        <img id="seeImg" alt="...">
	                    </a>
                    </div>
                  </div>
<!--                   <div class="form-group">
                    <label for="images" class="col-sm-2 control-label">展示图片</label>
                    <div class="col-sm-8">
                      <input type="file" class="form-control" id="images2" name="images2" >
                      <input type="hidden" id="images" name="images" > 
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">价格</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="price" name="price" placeholder="Price" maxlength="20">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="quantity" class="col-sm-2 control-label">库存量</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Quantity" maxlength="20">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">详情描述</label>
                    <div class="col-sm-8">
                        <textarea id="description" name="description" class="form-control" rows="3" placeholder="Description.." maxlength="200"></textarea>
                    </div>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="SureInfo(this)">修改</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//修改信息ajax
function SureInfo(obj){
	$.ajax({
        url:"../UpdateLight",
        type:"POST",
        data:$("#changeModal form").serialize(),
        success:function(result){
            console.log("修改灯信息成功!");
            bootbox.alert(result.message);
            Refresh(pn);
        },
        error: function(result){
            console.log("修改灯信息失败!");
            bootbox.alert(result.message);
        }
    });
    $("#changeModal").modal('hide');
}

function deleteLight(obj) {
	var lightID =  $(obj).parent().parent().find("td:first").text();
	bootbox.confirm({
		title:"",
		message:"★确认下架吗?",
		buttons:{
			confirm:{
				label:"确定"
			}
		},
		callback:function(result){
			if(result){
				
				$.ajax({
					url:"../DeleteLight/"+lightID,
					type:"POST",
					success:function(result){
					    console.log("下架灯成功!");
					    bootbox.alert("成功下架");
					    Refresh(pn);
				    },
				    error: function(result){
				        console.log("下架灯失败!");
				        bootbox.alert("下架失败");
				    }		
				});
			}else{
			}
		}
		
	});
}
</script>
</body>
</html>