<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../img/themes/icon.png"/>
<title>降临-欢迎登录</title>
<link href="../css/regit/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="../css/regit/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="../js/regit/jquery1.42.min.js"></script> 
<script type="text/javascript" src="../js/regit/jquery.SuperSlide.js"></script>  
<!-- <script src="../js/regit/yzm.js" type="text/javascript" charset="utf-8"></script> -->
</head>
<body>
<div class="header">
  <h1 class="headerLogo"><a title="降临灯饰店" target="_blank"><img alt="logo" src="../img/themes/logo4.png"></a></h1>
	<div class="headerNav">
		<a target="_blank" >关于降临</a>
		<a target="_blank" >开发团队</a>
		<a target="_blank" >意见反馈</a>
		<a target="_blank" >帮助</a>	
	</div>
</div>

<div class="banner">

<div class="login-aside">
  <div id="o-box-up"></div>
  <div id="o-box-down"  style="table-layout:fixed;">
   <div class="error-box"></div>
   
   <form class="registerform" action="">
   <div class="fm-item">
	   <label for="logonId" class="form-label">账号：</label>
	   <input type="text" placeholder="输入账号" maxlength="100" id="username" class="i-text" ajaxurl="demo/valid.jsp"  datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！"  >    
       <div class="ui-form-explain"></div>
  </div>
  
  <div class="fm-item">
	   <label for="logonId" class="form-label">密码：</label>
	   <input type="password" placeholder="输入密码" maxlength="100" id="password" class="i-text" datatype="*6-16" nullmsg="请输入密码！" errormsg="密码范围在6~16位之间！">    
       <div class="ui-form-explain"></div>
  </div>
  
<!--   <div class="fm-item pos-r">
	   <label for="logonId" class="form-label">验证码:</label>
	   <input type="text" placeholder="输入验证码" maxlength="100" id="yzm" class="i-text yzm" nullmsg="请输入验证码！" >    
       <span id="code"></span>
  </div> -->
  
  <div class="fm-item">
	   <label for="logonId" class="form-label"></label>
	   <input type="button" value="登录" tabindex="4" id="send-btn" class="btn-login" onclick="login()"> 
	   <input type="button" value="注册" tabindex="5" id="regit" class="btn-login" onclick="regiter()">
       <div class="ui-form-explain"></div>
  </div>
  
  </form>
  
  </div>

</div>

	<div class="bd">
		<ul>
			<li style="background:url(../img/themes/bg8.png) #CCE1F3 center 0 no-repeat;"><a target="_blank" ></a></li>
			<li style="background:url(../img/themes/bg3.png) #BCE0FF center 0 no-repeat;"><a target="_blank" ></a></li>
		</ul>
	</div>

	<div class="hd"><ul></ul></div>
</div>
 <script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });</script>


<div class="banner-shadow"></div>

<div class="footer">
   <p>Copyright &copy; 2018.Company name All rights reserved.</p>
</div>
<div language='JavaScript' charset='gb2312'></script></div>
<script>
function login() {
    $.ajax({
        type: "get",
        url: "../user/" + $("#username").val() + "/" + $("#password").val(),
        dataType: "json",
        success: function(data) {
            console.log(data);
            if (data > 0) {
                alert("登录成功");               
                window.location.href="../index.html";
            } else
                alert("登录失败！");
        },
        error: function(data) {
            console.log("login error!");
        }
    });
}
function regiter() {
	window.location.href="regit.html";
}
</script>
</body>
</html>
