<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Mobile Specific Meta  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100' rel='stylesheet' type='text/css'>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <!-- Custom CSS -->
        <link href="style.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>

    <body>



        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <!-- header-start -->
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 hidden-xs">
                            <div class="header-top-left">
                                <div class="welcome-msg">
                                    <span class="default-msg hidden-xs">欢迎来到灯饰店!</span>
                                    <!-- <span class="phone">Call support free: <span class="number">01234-567890</span></span> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <div class="header-top-right">
                                <ul class="header-links hidden-xs">
                                    <li><a class="my-account" href="#">请登录</a></li>
                                    <li><a class="" href="#">免费注册</a></li>
                                    <li><a class="" href="#">收藏夹</a></li>
                                    <li><a class="my-wishlist" href="#">购物车</a></li>
                                    <li><a class="login" href="#">退出</a></li>
                                </ul>                                                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-8">
                            <div class="logo">
                                <a href="index.html"><img src="img/logo.png" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 hidden-xs">
                            <div class="search-box">
                                <form action="#">
                                    <input class="form-control search-form" type="text" placeholder="Search entire store here" />
                                    <button class="search-button" value="Search" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="main-menu-area hidden-xs hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="colo-md-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
										<!-- <li><a href="about.html">About</a></li> -->
										<li><a href="view/shop.html">Shop</a></li>
                                        <li><a href="contact.html">Help</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
        <!-- slider-start -->
        <div class="slider-container">
            <div class="slider">
                <!-- Slider Image -->
                <div id="mainslider" class="nivoSlider slider-image">
                    <img src="img/slider/42.jpg" alt="main slider" title="#htmlcaption1" />
                    <img src="img/slider/41.jpg" alt="main slider" title="#htmlcaption2" />
                </div>
                <!-- Slider Caption 1 -->
                <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
                    <div class="slider-progress"></div>
                    <div class="slide1-text slide-1 hidden-xs">
                        <div class="middle-text">
                            <div class="cap-dec wow bounceInLeft" data-wow-duration="0.9s" data-wow-delay="0s">
                                <h1>The Best Fashion</h1>
                            </div>
                            <div class="cap-title wow bounceInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                <h3>Save Your Time and Money</h3>
                            </div>
                            <div class="cap-readmore wow bounceInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slider Caption 2 -->
                <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
                    <div class="slider-progress"></div>
                    <div class="slide1-text slide-2 hidden-xs">
                        <div class="middle-text">
                            <div class="cap-dec wow bounceInLeft" data-wow-duration="0.9s" data-wow-delay="0s">
                                <h1>The Best Fashion</h1>
                            </div>
                            <div class="cap-title wow bounceInRight" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                <h3>Save Your Time and Money</h3>
                            </div>
                            <div class="cap-readmore wow bounceInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                                <a href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <!-- slider-end -->
        <!-- new-product-area-start -->
        <div class="new-product-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3>new product</h3>
                        </div>
                    </div>
                </div>
                <div id="newLight" class="row">
                    <div class="new-product wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                        <div class="new-carousel">
                            <div class="col-md-12" v-for="light in lights">
                                <!-- single-product-start -->
                                <div class="single-product">
                                    <div class="single-product-img">
                                        <a href="#"><img :src="light.images" alt="" /></a>
                                        <span class="new-box">
                                                <span class="new">New</span>
                                        </span>
                                    </div>
                                    <div class="single-product-content">
                                        <div class="product-title">
                                            <h5><a href="#">{{ light.lightID }}</a></h5>
                                        </div>
                                        <!-- <div class="rating">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star"></div>
                                        </div> -->
                                        <div class="price-box">
                                            <span class="price">￥{{ light.price }}</span>
                                            <!-- <span class="old-price">£70.00</span> -->
                                        </div>
                                        <div class="product-action">
                                            <button class="btn btn-default add-cart" title="add to cart">Add to cart</button>
                                            <a class="add-wishlist" href="#" title="add to wishlist"><i class="fa fa-heart"></i></a>
                                            <a class="quick-view" href="#" title="quick view" data-toggle="modal" data-target="#myModal"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>                                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- new-product-area-end -->
        <!-- best-seller-area-start -->
        <div class="bestseller-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="best-seller-col wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                            <h3>top seller</h3>
                            <div class="best-seller-content" id="topLight">
                                <div class="single-new-product" v-for="light in topLights">
                                    <div class="product-img">
                                        <a href="#"><img :src="light.images" alt="" /></a>
                                    </div>
                                    <div class="product-details">
                                        <div class="single-product-content">
                                            <div class="product-title">
                                                <h5><a href="#">{{ light.lightID }}</a></h5>
                                            </div>
                                            <!-- <div class="rating">
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                            </div> -->
                                            <div class="price-box">
                                                <span class="price">￥{{ light.price }}</span>
                                                <!-- <span class="old-price">£70.00</span> -->
                                            </div>
                                            <div class="product-action">
                                                <button class="btn btn-default add-cart" title="add to cart">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="best-seller-col top-mar-xs wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                            <h3>best product</h3>
                            <div class="best-seller-content" id="bestLight">
                                <div class="single-new-product" v-for="light in bestLights">
                                    <div class="product-img">
                                        <a href="#"><img :src="light.images" alt="" /></a>
                                    </div>
                                    <div class="product-details">
                                        <div class="single-product-content">
                                            <div class="product-title">
                                                <h5><a href="#">{{ light.lightID }}</a></h5>
                                            </div>
                                            <!-- <div class="rating">
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                            </div> -->
                                            <div class="price-box">
                                                <span class="price">￥{{ light.price }}</span>
                                                <!-- <span class="old-price">£70.00</span> -->
                                            </div>
                                            <div class="product-action">
                                                <button class="btn btn-default add-cart" title="add to cart">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="best-seller-col top-mar-xs wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                            <h3>top rated product</h3>
                            <div class="best-seller-content" id="ratedLight">
                                <div class="single-new-product" v-for="light in ratedLights">
                                    <div class="product-img">
                                        <a href="#"><img :src="light.images" alt="" /></a>
                                    </div>
                                    <div class="product-details">
                                        <div class="single-product-content">
                                            <div class="product-title">
                                                <h5><a href="#">{{ light.lightID }}</a></h5>
                                            </div>
                                            <!-- <div class="rating">
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                            </div> -->
                                            <div class="price-box">
                                                <span class="price">￥{{ light.price }}</span>
                                                <!-- <span class="old-price">£70.00</span> -->
                                            </div>
                                            <div class="product-action">
                                                <button class="btn btn-default add-cart" title="add to cart">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- best-seller-area-end -->
        <!-- news-letter-area-start -->
        <div class="news-letter-area">
            <div class="container">
                
            </div>
        </div>
        <!-- news-letter-area-end -->
        <!-- service-area-start -->
        <div class="service-area">
            <div class="container">
                <div class="row">
                    <div class="service wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                        <div class="col-md-3 col-xs-12 col-sm-3">
                            <div class="single-service">
                                <i class="fa fa-plane"></i>
                                <h3>free shipping</h3>
                                <p> worldwide in 7 days</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-3">
                            <div class="single-service">
                                <i class="fa fa-taxi"></i>
                                <h3>home delivery</h3>
                                <p>home delivery on all over country</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-3">
                            <div class="single-service no-bor">
                                <i class="fa fa-cc-visa"></i>
                                <h3>secure payment</h3>
                                <p>secure payment many methods</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-3">
                            <div class="single-service no-bor">
                                <i class="fa fa-phone"></i>
                                <h3>24/7 customer care</h3>
                                <p>online support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service-area-end -->
        <!-- brand-area-start -->
        <div class="brand-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h3>our brands</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="brands wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                        <div class="brand-carousel">
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-brand">
                                    <a href="#"><img src="img/brand/1.png" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand-area-end -->
        <!-- footer-start -->
        <footer>
            <div class="footer-area wow fadeIn" data-wow-duration=".5s" data-wow-delay=".5s">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <h4>Information</h4>
                                        <ul class="toggle-footer">
                                            <li><a title="Specials" href="#">Specials</a></li>
                                            <li><a title="New products" href="#">New products</a></li>
                                            <li><a title="Best sellers" href="#">Best sellers</a></li>
                                            <li><a title="Our stores" href="#">Our stores</a></li>
                                            <li><a title="Contact us" href="#">Contact us</a></li>
                                            <li><a title="Sitemap" href="#">Sitemap</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <h4>My account</h4>
                                        <ul class="toggle-footer">
                                            <li><a title="My orders" href="#">My orders</a></li>
                                            <li><a title="My credit slips" href="#"> My credit slips</a></li>
                                            <li><a title="My addresses" href="#">My addresses</a></li>
                                            <li><a title="My personal info" href="#">My personal info</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <h4>category</h4>
                                        <ul class="toggle-footer">
                                            <li><a title="My orders" href="#">women</a></li>
                                            <li><a title="My credit slips" href="#">men</a></li>
                                            <li><a title="My addresses" href="#">category</a></li>
                                            <li><a title="My personal info" href="#">equipment</a></li>
                                            <li><a title="My personal info" href="#">watch</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3  col-sm-3 col-xs-12">
                                        <h4>Shop Location</h4>
                                        <div class="footer-contact">
                                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim erat ut laoreet pharetra....
                                            </p>
                                            <p class="address add">
                                                <span>No. 96, Jecica City, NJ 07305, New York, USA</span>
                                            </p>
                                            <p class="phone add">
                                                <span> 01234-567890</span>
                                            </p>
                                            <p class="email add">
                                                <a href="#">admin@admin.com</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment">
                            <a href="#"><img src="img/payment.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 footer-link">
                                <ul>
                                    <li><a href="#">Customer Service</a></li>
                                    <li><a href="#">Secure payment</a></li>
                                    <li><a href="#">Term of Use</a></li>
                                    <li><a href="#">About us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 address">
                                Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="product-details">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 col-sm-5">
                                        <div class="picture-tab">
                                            <ul class="pic-tabs">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#pic11"><img src="img/pro-tab/1.jpg" alt="" /></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#pic12"><img src="img/pro-tab/2.jpg" alt="" /></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#pic13"><img src="img/pro-tab/3.jpg" alt="" /></a>
                                                </li>
                                                <li>
                                                    <a data-toggle="tab" href="#pic14"><img src="img/pro-tab/4.jpg" alt="" /></a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="pic11" class="tab-pane fade in active">
                                                    <!-- single-product-start -->
                                                    <div class="single-product">
                                                        <div class="single-product-img">
                                                            <a href="#"><img src="img/singlepro/21.jpg" alt="" /></a>
                                                            <span class="sale-box">
                                                                    <span class="sale">Sale</span>
                                                            </span>
                                                            <span class="new-box">
                                                                    <span class="new">New</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- single-product-end -->
                                                </div>
                                                <div id="pic12" class="tab-pane fade">
                                                    <!-- single-product-start -->
                                                    <div class="single-product">
                                                        <div class="single-product-img">
                                                            <a href="#"><img src="img/singlepro/22.jpg" alt="" /></a>
                                                            <span class="sale-box">
                                                                    <span class="sale">Sale</span>
                                                            </span>
                                                            <span class="new-box">
                                                                    <span class="new">New</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- single-product-end -->
                                                </div>
                                                <div id="pic13" class="tab-pane fade">
                                                    <!-- single-product-start -->
                                                    <div class="single-product">
                                                        <div class="single-product-img">
                                                            <a href="#"><img src="img/singlepro/23.jpg" alt="" /></a>
                                                            <span class="sale-box">
                                                                    <span class="sale">Sale</span>
                                                            </span>
                                                            <span class="new-box">
                                                                    <span class="new">New</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- single-product-end -->
                                                </div>
                                                <div id="pic14" class="tab-pane fade">
                                                    <!-- single-product-start -->
                                                    <div class="single-product">
                                                        <div class="single-product-img">
                                                            <a href="#"><img src="img/singlepro/24.jpg" alt="" /></a>
                                                            <span class="sale-box">
                                                                    <span class="sale">Sale</span>
                                                            </span>
                                                            <span class="new-box">
                                                                    <span class="new">New</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- single-product-end -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-xs-12 col-sm-7">
                                        <div class="product-details-info">
                                            <h5 class="product-title">Feugiat justo lacinia</h5>
                                            <div class="price-box">
                                                <span class="price">£50.00</span>
                                                <span class="old-price">£70.00</span>
                                            </div>
                                            <div class="rating">
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star star-on"></div>
                                                <div class="star"></div>
                                            </div>
                                            <div class="short-description">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                                                </p>
                                            </div>
                                            <div class="add-cart">
                                                <p class="quantity cart-plus-minus">
                                                    <label>Quantity</label>
                                                    <input type="text" value="1" />
                                                </p>
                                                <div class="shop-add-cart">
                                                    <button>add to cart</button>
                                                </div>
                                            </div>
                                            <div class="widget-icon">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal-end -->
        <!-- all js here -->
        <!-- jquery latest version -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        
        <!-- vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script type="text/javascript"> 
        var vm = new Vue({
            el: '#newLight',
            data: {
                lights: 'Hello Vue!'
            },
            mounted() {
                $.ajax({
                    type: "get",
                    url: "light/NewLight",
                    dataType: "json",
                    success: function(data){
                        vm.lights = data;
                    },
                    error: function(data){
                        console.log("读取jsonName error!");
                    }
                });
            }
         });
        var vm2 = new Vue({
            el: '#topLight',
            data: {
                topLights: 'topLights'
            },
            mounted() {
                $.ajax({
                    type: "get",
                    url: "light/topLight",
                    dataType: "json",
                    success: function(data){
                        vm2.topLights = data;
                    },
                    error: function(data){
                        console.log("读取topLights error!");
                    }
                });
            }
         });
        
        var vm3 = new Vue({
            el: '#bestLight',
            data: {
            	bestLights: 'bestLights'
            },
            mounted() {
                $.ajax({
                    type: "get",
                    url: "bestLight",
                    dataType: "json",
                    success: function(data){
                        vm3.bestLights = data;
                    },
                    error: function(data){
                        console.log("读取bestLights error!");
                    }
                });
            }
         });
        
        var vm4 = new Vue({
            el: '#ratedLight',
            data: {
            	ratedLights: 'ratedLights'
            },
            mounted() {
                $.ajax({
                    type: "get",
                    url: "light/ratedLight",
                    dataType: "json",
                    success: function(data){
                        vm4.ratedLights = data;
                    },
                    error: function(data){
                        console.log("读取ratedLights error!");
                    }
                });
            }
         });
         </script>
        
        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- owl.carousel js -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- meanmenu js -->
        <script src="js/jquery.meanmenu.js"></script>
        <!-- countdown js -->
        <script src="js/countdown.js"></script>
        <!-- jquery.nivo.slider.pack js -->
        <script src="js/jquery.nivo.slider.pack.js"></script>
        <!-- jquery-ui.min.js -->
        <script src="js/jquery-ui.min.js"></script>
        <!-- wow js -->
        <script src="js/wow.min.js"></script>
        <!-- plugins js -->
        <script src="js/plugins.js"></script>
        <!-- main js -->
        <script src="js/main.js"></script>
        
        
        
    </body>
</html>

