<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lightingshop.dao.BestLightDao">
    
    <select id="listBestLight" resultType="BestLight">
        SELECT
            *
        FROM
            bestlight
        LIMIT 
            0, 3
    </select>

</mapper>