<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lightingshop.dao.MyShopCartDao">
    
    <insert id="addMyShopCart" keyColumn="shopCardID" keyProperty="shopCardID" useGeneratedKeys="true" parameterType="MyShopCart">
        INSERT INTO
            myshopcart(lightID, userID, addDate)
        VALUES
            (#{lightID}, #{userID}, #{addDate})
    </insert>
      
</mapper>